<!doctype html>
<html>
<head>
    <title>Index</title>

</head>
<body>
    <div ng-app="myapp">
        <input type="text" ng-model="something"/>
        <span>{{ something }}</span>
        <input type="password" ng-model="another"/>
        <div>{{ another }}</div>
        <charlene></charlene>
        <pe equipment="laptop"></pe>
        <pe></pe>
        <pe equipment="Phone"></pe>
        <pe></pe>
        <roselle likes="things"></roselle>
        <roselle likes="flowers"></roselle>
        <roselle likes="books"></roselle>
        <roselle likes="eating"></roselle>
        <roselle likes="coffee"></roselle>
        <roselle likes="milk"></roselle>
        <roselle likes="ballpen"></roselle>
        <roselle likes="notebook"></roselle>
        <roselle likes="paper"></roselle>
        <roselle likes="sleeping"></roselle>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    
<script type="text/javascript">
    var app= angular.module("myapp",[]);

    function reverse(s){
        return s.split("").reverse().join("");
    }


    app.directive("charlene", function () {
      return {
        restrict: "E", 
        replace: true,
        template: '<div class="charlene"><span>A lot of things inside</span></div>'
      }
    });

    app.directive("roselle", function () {
      return {
        scope: {},
        restrict: "E", 
        replace: true,
        template: '<div><span class="roselle">{{ pagkain }}</span><br /></div>',
        link: function (scope, element, attr, ctrl, transclude) {
          if (attr.likes) {
            scope.pagkain = (attr.likes).toUpperCase(); 
          }
        }

      }
    });




    app.directive("pe", function () {
      return {
        scope: {},
        restrict: "E", 
        replace: true,
        template: '<div class="pe"><span>{{ charv }}</span><input type="text" ng-model="pev"/>{{ pev }}</div>',
        link: function (scope, element, attr, ctrl, transclude) {
          scope.charv = "world";
          console.log(attr);
          console.log(attr.equipment);

          if (attr.equipment) {
            scope.pev = attr.equipment; 
            scope.charv = reverse(attr.equipment);
          }

          scope.$watch("pev", function(newValue, oldValue) {
            if (newValue){
                scope.charv = reverse(newValue);
            }
          });
        }
      }
    });


</script>
</body>
</html>